<main class="content">
  <section class="content__item content__item--no-padding-tb">
    <div class="content__item-loading" *ngIf="loading$ | async">
      Loading...
    </div>
    <ng-container *ngIf="loaded$ | async">
      <app-filter [mod]="'search'" (filterList)="onFilterUsersList($event)"></app-filter>
      <app-users-list [model]="users$ | async" [current]="current$ | async" (userSelect)="onUserSelect($event)"></app-users-list>
    </ng-container>
  </section>
  <section class="content__item content__item--no-padding-tb" [class.is-empty]="!(current$ | async)?.user">
    <app-user-info *ngIf="(current$ | async)?.user" [model]="current$ | async"></app-user-info>
    <p class="content__item-text" *ngIf="!(current$ | async)?.user">Select a person on the left</p>
  </section>
</main>