<main class="content">
  <section class="content__item content__item--no-padding-tb">
    <app-preloader *ngIf="loadingUsers$ | async"></app-preloader>
    <ng-container *ngIf="loadedUsers$ | async">
      <app-filter [mod]="'search'" [filter$]="filterSubject$"></app-filter>
      <app-users-list [model]="users$ | async" [current]="current$ | async" (userSelect)="onUserSelect($event)"></app-users-list>
    </ng-container>
  </section>
  <section class="content__item content__item--no-padding-tb" [class.is-empty]="!(current$ | async)?.user">
    <app-preloader *ngIf="loadingCurrent$ | async"></app-preloader>
    <app-user-info *ngIf="(current$ | async)?.user && (loadedCurrent$ | async)" [model]="current$ | async"></app-user-info>
    <p class="content__item-text" *ngIf="!(loadingCurrent$ | async) && !(loadedCurrent$ | async)">Select a person on the left</p>
  </section>
</main>