<main class="content">
    <section class="content__item content__item--no-padding-tb">
      <div class="content__item-loading" *ngIf="loading$ | async">
        Loading...
      </div>
      <ng-container *ngIf="loaded$ | async">
        <app-filter [style]="'tags'" [tagList]="" (filterList)="onFilterTodosList($event)"></app-filter>
        <app-user-todos-list [model]="todos$ | async" (selectTodo)="onTodoSelect($event)"></app-user-todos-list>
      </ng-container>
    </section>
    <section class="content__item content__item--no-padding-tb" [class.is-empty]="!(current$ | async)">
      <app-user-info *ngIf="current$ | async" [model]="current$ | async"></app-user-info>
      <p class="content__item-text" *ngIf="!(current$ | async)">Select ToDo on the left</p>
    </section>
  </main>