@import '~variables.scss';
@import '~placeholders.scss';

/*** HEADER ***/
.header {
	overflow: hidden;
	width: 100%;
	height: $m-header-height;
	background-color: $c-header-bg;
	
	&-nav {
		display: flex;
		justify-content: flex-start;
		height: 100%;
		margin: 0 auto;
		max-width: $m-content-max-width;

		&__item {
			display: block;
			height: 100%;
		}

		&__link {
			display: block;
			box-sizing: border-box;
			padding: 20px;
			height: 100%;
			color: white;
			font-size: 1.8rem;
			text-decoration: none;
			transition: background-color .25s ease-in-out;

			&:hover {
				background-color: darken($c-header-bg, 7%);
			}
			
			&.is-active {
				background-color: darken($c-header-bg, 10%);
				cursor: default;
			}
		}
	}
}

/*** CONTENT ***/
.content {
	display: flex;
	box-sizing: border-box;
	justify-content: space-around;
	padding: 5px 0;
	height: calc(#{$m-content-height} - #{$m-header-height});
	background-color: $c-content-bg;
	
	&__item {
		overflow: auto;
		padding: 5px 0;
		width: 49%;
		background-color: $c-content-item-bg;
		border: 1px solid $c-content-border;

		&--no-padding-tb {
			padding-top: 0;
			padding-bottom: 0;
		}

		&-header {
			box-sizing: border-box;
			padding: 10px 20px;
			background-color: $c-content-item-header-bg;
			
			h2 {
				margin: 0;
				color: white;
				line-height: 1;
				font-size: 1.8rem;
			}
		}
	}
}

/*** USER ***/
.users-list {
	@extend %reset-list;
	margin: 0 auto;
	width: 98%;

	&__item {
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.user {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	border: 1px solid $c-user-border;
	transition: background-color .15s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: $c-user-content-hover-bg;
	}

	&.is-current {
		border-color: $c-user-current-border;
		box-shadow: 0 0 5px rgba(0, 0, 0, .25);

		&:hover {
			background-color: inherit;
		}
	}

	&__name {
		margin: 0 0 1em;
		padding: 0 0 .5em;
		border-bottom: 1px solid $c-user-border;
		font-size: 2.1rem;
		line-height: 1;
	}

	&__company {
		&-name {
			@extend %user-text;
		}

		&-phrase {
			@extend %user-text;
		}
	}
}

/*** TODO ***/
.todo-list {
	@extend %reset-list;
	margin: 10px auto;
	width: 98%;

	&__item {
		margin-bottom: 10px;
		border-bottom: 1px solid $c-todo-border;
	}
}

.todo {
	position: relative;
	background-color: $c-todo-bg;
	transition: background-color .25s ease-in-out;

	&.is-complete {
		background-color: $c-todo-complete-bg;
	}

	&__title {
		margin: 0;
		padding: 5px;
		font-size: 1.6em;
		font-weight: bold;
		max-width: $m-todo-title-max-width;
		
		.is-complete & {
			color: $c-todo-complete-title-color;
		}
	}

	&__manage {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin: auto 10px auto 0;
		height: 30px;

		&-button {
			position: relative;
			border-radius: 14px;
			height: $m-todo-button-height;
			width: $m-todo-button-height * 2;
			border: 1px solid $c-todo-button-border;
			text-indent: -9999px;
			outline: none;
			transition: all .15s ease-in-out;
			box-shadow: inset -2px 1px 4px rgba(0, 0, 0, .15);
			cursor: pointer;

			.is-complete & {
				background-color: $c-todo-button-complete-bg;
				border-color: $c-todo-button-complete-border;
			}

			&:after {
				box-sizing: border-box;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 1px;
				margin: auto;
				width: $m-todo-button-height - 4px;
				height: $m-todo-button-height - 4px;
				background-color: #fff;
				border: 1px solid darken($c-todo-button-border, 10%);
				border-radius: 50%;
				
				content: '';

				.is-complete & {
					left: auto;
					right: 1px;
				}
			}
		}
	}

}

/*** FILTER ***/
.filter {
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 10px;
	background-color: $c-filter-bg;

	&__input {
		box-sizing: border-box;
		width: 100%;
		padding: 10px;
		height: 1.4 * 10 + 20px;
		border: 1px solid $c-filter-input-border;
		border-radius: 3px;
		font-size: 1.4rem;
		line-height: 1;
	}

	&__tag {
		padding: 10px 20px;
		border: 1px solid $c-filter-input-border;
		border-radius: 5px;
		font-size: 1.4rem;
		font-weight: bold;
		line-height: 1;
		outline: none;
		transition: background-color .15s ease-in-out;
		cursor: pointer;

		&:hover {
			background-color: $c-tag-hover-bg;
		}

		&.is-selected {
			background-color: $c-tag-selected-bg;
			color: white;
		}
	}
}