<header class="header">
  <ul class="header-nav">
    <li class="header-nav__item">
      <a href="#" class="header-nav__link is-active">List 1</a>
    </li>
    <li class="header-nav__item">
      <a href="#" class="header-nav__link">List 2</a>
    </li>
  </ul>
</header>
<main class="content">
  <section class="content__item">
    <ul class="users-list">
      <li class="users-list__item">
        <div class="user">
          <p class="user__name">Иванов Иван Иванович</p>
          <p class="user__company-name">Рога и копыта</p>
          <p class="user__company-phrase">Бодаем и топчем</p>
        </div>
      </li>
      <li class="users-list__item">
        <div class="user">
          <p class="user__name">Иванов Иван Иванович</p>
          <p class="user__company-name">Рога и копыта</p>
          <p class="user__company-phrase">Бодаем и топчем</p>
        </div>
      </li>
    </ul>
  </section>
  <section class="content__item">
    <div class="user-info">
      <ul class="todo-list">
        <li class="todo-list__item">
          <div class="todo is-complete">
            <p class="todo__title">Todo 1</p>
            <p class="todo__status">Выполнено</p>
          </div>
        </li>
        <li class="todo-list__item">
          <div class="todo is-complete">
            <p class="todo__title">Todo 2</p>
            <p class="todo__status">Выполнено</p>
          </div>
        </li>
        <li class="todo-list__item">
          <div class="todo is-complete">
            <p class="todo__title">Todo 3</p>
            <p class="todo__status">Выполнено</p>
          </div>
        </li>
        <li class="todo-list__item">
          <div class="todo is-complete">
            <p class="todo__title">Todo 4</p>
            <p class="todo__status">Выполнено</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>