<!-- <ul class="users-list" *ngIf="model?.getUsers().length > 0"> -->
<ul class="users-list">
  <!-- <li class="users-list__item" *ngFor="let user of model?.getUsers(); trackBy: trackById"> -->
  <li class="users-list__item" *ngFor="let user of (model$ | async); trackBy: trackById">
    <app-user [model]="user" [isCurrent]="user.id === model?.getCurrent()?.user.id" (userSelected)="onUserSelected($event)"></app-user>
  </li>
</ul>
<p class="users-list-empty" *ngIf="model?.getUsers().length === 0 || !model">No Users to Show</p>  