@import '~variables.scss';
@import '~placeholders.scss';

.users-list {
	@extend %reset-list;
	margin: 0 auto 5px;
	width: 98%;

	&__item {
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&-empty {
		font-size: 1.8rem;
		line-height: 1.3;
		text-align: center;
	}
}