// C - Colors
$c-header-bg: #2C3840;

$c-content-bg: #f3f3f3;
$c-content-item-bg: #fff;
$c-content-border: #ccc;

$c-user-border: #eee;

// M - Measures
$m-content-max-width: 1024px;
$m-header-height: 65px;
$m-content-height: 100vh;